<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Akun Kurir</title>
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/button.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

  <% var localList = []; %>
  <% function DataLocal(id, username, password, nama_lengkap, nik, phone, tanggal_lahir, alamat) {
    this.id = id;
    this.username = username;
    this.password = password;
    this.nama_lengkap = nama_lengkap;
    this.nik = nik;
    this.phone = phone;
    this.tanggal_lahir = tanggal_lahir;
    this.alamat = alamat;
  } %>

  <%- include("./partials/header.ejs") %>

  <div class="button">
    <div class="bleft"></div>
    <button class="button-28" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Tambah Kurir</button>
    <div class="bright"></div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create Account</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

          <div class="sisi-kiri-form">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="usernameInput" placeholder="Masukkan username">
              <label for="floatingInput">Username</label>
            </div>

            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Masukkan password">
              <label for="floatingPassword">Password</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="fullNameInput" placeholder="Masukkan nama lengkap">
              <label for="floatingInput">Nama Lengkap</label>
            </div>

            <div>
              <label for="datiInput">Tanggal Lahir</label>
              <input type="date">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">+62</span>
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="fullNameInput" placeholder="Masukkan nama Alamat">
              <label for="floatingInput">Alamat</label>
            </div>
            
            
          </div>

          <div class="sisi-kanan-form">

            <div class="pic-submission">

            </div>

            <div clas="save-btn">

            </div>

          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

    <div class="table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Username</th>
          <th scope="col">Nama Lengkap</th>
          <th scope="col">NIK</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>

      <tbody>

        <% for (let i = 0; i < dataKurir.length; ++i) { %>
          <% localList.push(new DataLocal(i, dataKurir[i].username, dataKurir[i].password, dataKurir[i].nama_lengkap, dataKurir[i].nik, dataKurir[i].phone, dataKurir[i].tanggal_lahir, dataKurir[i].alamat)) %>
          <tr class="inner-table" data-bs-toggle="modal" data-bs-target="#a<%= i %>">
            <% var imgs = "./images/" + dataKurir[i].username + ".jpg" %>
            <td><img class="profpic" src=<%= imgs %> alt="rangers"></td>
            <td><%= dataKurir[i].username %></td>
            <td> <%= dataKurir[i].nama_lengkap %></td>
            <td><%= dataKurir[i].nik %></td>
            <td><%= dataKurir[i].phone %></td>
          </tr>

          <div class="modal fade" id="a<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                  
                  <div class="profile-header">
                    <img class="pic-inside" src="<%= imgs %>" alt="profpic">
                    <h2><%= dataKurir[i].username %></h2>
                  </div>
                  
                  <div  class="profile-data">
                    <p>Nama Lengkap : <%= dataKurir[i].nama_lengkap %></p>
                    <% var dataTgl = dataKurir[i].tanggal_lahir %>
                    <% var strTgl = dataTgl.getDate() +"-"+ dataTgl.getMonth() +"-"+ dataTgl.getYear() %>
                    <p>Tanggal Lahir : <%= strTgl %></p>
                    <p>NIK : <%= dataKurir[i].nik %></p>
                    <p>Phone : <%= dataKurir[i].phone %></p>
                    <p>Alamat : <%= dataKurir[i].alamat %></p>
                  </div>

                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger">Delete Account</button>
                </div>

              </div>
            </div>
          </div>

        <% } %>
      </tbody>
    </table>
  </div>

  <script>
    
  </script>

</body>

</html>